parameters:
    uecode_image.handling.class: Uecode\Bundle\ImageBundle\Services\ImageService
    uecode_image.handler.class: Uecode\Bundle\ImageBundle\Services\ImageHandler

services:
    # Image handling factory
    image.handling:
        class: %uecode_image.handling.class%
        arguments:
            - %uecode_image.gregwar.cache_dir%
            - %uecode_image.handler.class%
            - @service_container
            - @kernel
            - %uecode_image.gregwar.throw_exception%
            - %uecode_image.gregwar.fallback_image%

    uecode_image.upload_handler:
        class: Uecode\Bundle\ImageBundle\Services\UploadHandler
        scope: request
        arguments:
            - @request
            - @filesystem
            - %kernel.root_dir%
            - %uecode_image.tmp_dir%
            - %uecode_image.upload_dir%
            - @image.handling
            - %uecode_image.provider%

    uecode_image.routing_loader:
        class: Uecode\Bundle\ImageBundle\Routing\RouteLoader
        arguments: [ 'upload' , 'UecodeImageBundle:Uploader:Upload']
        tags:
            - { name: routing.loader }
